.root {
  position: fixed;
  bottom: 24px;
  left: 24px;
  cursor: default;
  background-color: #333;
  z-index: 3;
  display: block;
  transform: translate(0, 0);
  transition: transform 0.25s ease;
  pointer-events: none;
  width: 280px;
}

.is-active {
  transform: translate(0, 0);
  pointer-events: auto;
  transition: transform 0.25s ease;
}

.message {
  padding: 12px 24px;
  color: white;
  float: left;
}
